spring.application.name=school-mis
server.port=4000
# JWT parameters
jwt.secret=j3H5Ld5nYmGWyULy6xwpOgfSH++NgKXnJMq20vpfd+8=t
jwt.expiresIn=86400000


spring.datasource.url=jdbc:mysql://localhost:3306/vote_app
spring.datasource.username=
spring.datasource.password=
spring.session.jdbc.initializer.enabled=true
spring.session.jdbc.initialize-schema= always
spring.jpa.database=mysql
spring.jpa.show-sql=true
spring.jpa.generate-ddl=true
spring.jpa.hibernate.naming-strategy = org.hibernate.cfg.ImprovedNamingStrategy


uploads.directory=/home/sauve/Documents/Dev-Box/NE-Prep-Repos/school-mis-springboot-fullstack/server/assets/uploads
uploads.extensions=jpg,jpeg,gif,png,pdf,xlxs,xls,docx,txt,mp3,mp4,mov,avi,wmv,flv,gif,mp2,mp3,mpeg,3gp,svi,webM,webm,WEBM
uploads.directory.user_profiles=/home/sauve/Documents/Dev-Box/NE-Prep-Repos/school-mis-springboot-fullstack/server/assets/profiles